
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Search - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('exterior') }}">exterior</a></li>
                    <li><a href="{{ url_for('extra')}}">extra</a></li>
                    <li><a href="{{ url_for('interior')}}">interior</a></li>
                    <li><a href="{{ url_for('exchange_form') }}">Exchange Form</a></li>
                    
                  
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 20235 FINDNYUMBA. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>